@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");

/*      SCROLL BAR */
::-webkit-scrollbar{
    background-color: rgb(55 65 81);
    width: 6px;
    padding: 1px;
}

::-webkit-scrollbar-thumb{
    background-color: #5a5e6b;
    border-radius: 10px;

}

/*          FOOTER       */
 .beat{
     animation-name: heart;
     animation-duration: 1000ms;
     animation-iteration-count: infinite;
 }
    
 @keyframes heart{
     0%{
         transform: scale(1);
     }
    
     90%{
         transform: scale(0.7);
     }
    
        
 }

